/* FONTS */

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

/* ROOT */
:root {
  /* colors */
  --colorPrimary: #333;
  --colorSecondary: #777;
  /* backgrounds */
  --backgroundPrimary: #fff;
  /* --backgroundSecondary: #fff; */
  /* btn colors */
  --btnPrimary: #ea625c;
  --btnHover: #fff;
  /* --btnDisabled: #fff; */
  /* fonts */
  --fontPrimary: "Roboto", Arial, sans-serif;
  --fontWeight: 400;
  --fontSize: 16px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fontPrimary);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  background-color: var(--backgroundPrimary);
  color: var(--colorPrimary);
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

/* HEADER START */

.site-header{
  padding: 30px 0px;
}

.site-header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__nav-list{
  display: flex;
}

.site-header__nav-item:not(:last-child){
  margin-right: 30px;
}

.site-header__nav-link{
  color: var(--colorPrimary);
  text-align: center;
  font-size: 15px;
  line-height: 22.5px; 
}

.site-header__nav-btn{
  margin-left: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--colorPrimary);
  
  color: #666;
  font-size: 15px;
  line-height: 22.5px
}

.site-header__nav-btn:hover{
  margin-left: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--btnPrimary);
  
  color: var(--btnPrimary);
  font-size: 15px;
  line-height: 22.5px;
}

/* HEADER END */

/* MAIN START */

.site-main{
  width: 100%;
}

/* HERO START */

.site-hero{
  width: 100%;
  padding-top: 140px;
  padding-bottom: 183px;
  background-image: url(../img/watches.png);
  background-repeat: no-repeat;
  background-size: 587px;
  background-position: calc(50% + 654px) bottom;
}

.site-hero__wrapper{
  width: 100%;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.site-hero__title {
  margin-top: 0px;
  margin-bottom: 0;
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.site-hero-desc{
  padding-left: 40px;
  border-left:solid 3px #888;
  color: var(--colorSecondary);
  line-height: 24px;
}

.site-hero__btn{
  width: 260px;
  padding: 12px;
  background-color: var(--btnPrimary);
  justify-content: center;
  align-items: center;
  border: none;
  
  color: var(--backgroundPrimary);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px; 
  text-transform: uppercase;
}

/* HERO END */

/* FEATURES END */
.site-features{
  width: 100%;
}

.site-features__wrapper{
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  align-items: start;
  gap: 80px;
}

.site-features__box{
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.site-features__box-title{
  margin-bottom: 30px;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.site-features__box-desc{
  margin-bottom: 20px;
  color: var(--colorPrimary);
  font-size: 15px;
  line-height: 24px;
}

.site-features__box-container{
  display: flex;
  gap: 10px;
}

.site-features__box-squares{
  width: 8px;
  height: 8px;
  background-color: #DDD;
}

.site-features__box-nav{
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-features__box-line{
  width: 40px;
  height: 3px;
  border: none;
  background-color: var(--btnPrimary);
}

.site-features__box-link{
  color: var(--btnPrimary);
  font-style: normal;
  font-weight: 700;
  line-height: 25.6px;
  text-transform: uppercase;
}


/* FEATURES END */

/* INFO START */

.site-info{
  width: 100%;
}

.site-info__wrapper{
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.site-info__start{
  width: 100%;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.site-info__start-title{
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.site-info__start-desc{
  padding-left: 40px;
  color: var(--colorSecondary);
  line-height: 24px;
  border-left: solid 3px #888;
}

.site-info__start-btn{
  width: 260px;
  padding: 12px;
  background-color: var(--btnPrimary);
  justify-content: center;
  align-items: center;
  border: none;

  color: var(--backgroundPrimary);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}



/* INFO END */

/* FOOTER START */

.site-footer{
  width: 100%;
  height: 100vh;
  min-height: 830px;
  background-image: url(../img/runners.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.site-footer__wrapper{
  position: relative;
}

.site-footer__wrapper-box{
  width: 100%;
  max-width: 490px;
  position: absolute;
  right: 0;
  top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}

.site-footer__title{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--backgroundPrimary);
  font-size: 50px;
  font-weight: 700;
  line-height:  60px;
}

.site-footer__desc{
  padding-left: 40px;
  color: var(--backgroundPrimary);
  line-height: 24px;
  border-left: 3px solid var(--backgroundPrimary);
}

.site-footer__button{
  width: 260px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--btnPrimary);
  border:none;

  color: var(--backgroundPrimary);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

/* FOOTER END */

/* MAIN END */